*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto",sans-serif;
    background-color: #f4f4f4;    
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color:#003580;
    color: #fff;
    padding-top: 30px;
    min-height: 140px;
    max-width: 100%;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.header-btn{
    border-radius: 4px;
    background-color: #fff; 
    border: none;
    padding:  2px 5px;
    margin-top: -10px;
    margin-left: 1rem;

}
@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

.header-btn:hover{
    transform: scale(1.1);
    animation: pulsate 0.3s infinite;

}
.header-btn a{
    color: #0071c2;
    font-size: 14px;
    font-weight: 400;
}

.header-h1{
    font-size:24px;
}

header ul{
    display: flex;
    align-items: center;
}
header li{
    float: left;
    display: inline;
    padding: 0 1.5rem 0 1.5rem ;
}


.container .header-h1{
    position: absolute;
}

.header-a{
    text-transform: none;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10rem;
}
.header-h1:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

header nav{
    float: right;
    display: flex;
    margin-top: 15px;
}

.navigation ul li:hover{
    transform: scale(1.07);
    transition: all 0.3s ease;}

.header-img-primary{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.header-logo{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.navigation a{
    font-weight:bold;
    line-height: 1;
}


.buttons{
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    margin-right: 500px;
    margin-bottom: 10px
}
.buttons a{
    display: block;
    position: relative;
    text-decoration: none;
    color: #000;
    padding: 14px 28px;
}

.diets{
    width: 100%;
    margin: 0 10rem;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    
}
.list-item {
    margin-top: 6.4rem;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid grey;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.list-item:hover{
    background-color: #9d9d9d; 
    border: 1px solid transparent;
}





/* ****************** */
/* section-paragrpahy */
/* /****************** */

.section-web{
    background: #003580;
    padding-left: 400px;
    padding-top: 10px;
}
.section-form{
    width: 100%;
    border: none;
    display: flex;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.section-paragrpahy{
    color: #fff;
    display: block;
    padding-bottom: 75px;
    margin-left: -210px;
    margin-top: 46px;
    width: 100%;
}
.section-text{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom:20px;
    padding-left: 100PX;
}
.section-p{
    font-size: 24px; 
    line-height: 1.2;
    padding-left: 100PX;

}

.section-content{
    position: relative;
    width: 100%;
    height:100%;
    margin-bottom: 5.2rem;
}

.section-tours{
    position: relative;
    left: 10px;
}

.cta-form {
    color: #fff;
    border: 0;
    border-radius: 8px;
    display: flex;
    background-color: #febb02;
    padding: 1px 3px ;
    position: absolute;
    top: 32.3%;
    left:10%;
    width: 70%;
    height: 55px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    margin: 50px  5.3%;
}


.cta-form label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}
  
.cta-form input{
    display: flex;
    width: 80%;
    text-align: center;
    font-size: 18px;
    border: none;
    color: #000;
    cursor: pointer;
}

.xp__guests {
    border: 0;
    position: relative;
    white-space: nowrap;
    outline: 0;
}

.form-info{
    width: 50%;
    border: 0;
    display: flex;
    cursor: pointer;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}


.form-input{
    padding:   25px  0; 
}


.input-btn{
    display: inline-block;
    font-size:14px;
    font-weight: 400;
    line-height:1.2;
    border: 0;
    color: #fff;
    height: 52px;
    padding: 5px 32px;
    background-color: #0071c2;
    border-radius: 4px;
}
.input-btn a{
    text-decoration: none;
    color: #fff;
}
.xp__input, .-with-clear .sb-searchbox__input {
    padding: 0 80px;
}
#ss, .xp__input, .sb-searchbox__input {
    font-size: 14px;
    font-weight: 400;
    line-height:1.5;
    font-family: sans-serif;
    background: #fff;
    color: #000;
    height: 52px;
    border: 0;
    display: inline-block;
     padding: 0 16px;
    width: 100%;
    position: relative;
}

.first-input{
    display: inline-block;
    padding:50rem;
    margin-right: 5px;
    border-radius: 5px;
}



label {
    cursor: pointer;
}
.xp__guests {
    border: 0;
    position: relative;
    white-space: nowrap;
    outline: 0;
}

.section-work{
    display: flex;
    margin-right: 1rem;
}

.section-p-work{
    display: flex;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding-left: 10px;
}


.section-web-1{
    margin: 50px  15.3%;
    padding-right: 80px;
}

.section-corona-info{
    border: 1px solid grey;
    width: 107%;
    height: 100px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
    border-radius: 8px;
}
.corona-header{
    display: flex;
    align-items: center;
    margin-bottom:10px;
    padding-top:5px;
}

.corona-info{
    padding-left: 10px;
}

.corona-icon{
    height:24px;
    width: 24px;
    padding:0 2px;
    color: red;
}
.corona-btn{
    display:block ;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #006ce4;
    text-decoration: none;
    width: 100%;
}
.corona-btn:hover{
    border-bottom: 1px solid #006ce4;
    width: 7.5rem;
}


.header-primary{
    margin:30px 10%;
}

.pargraph-secondary{
    margin-top:7px;
}

/* Card of visited */   

.card {
    position: relative;
    height: 20rem; 
}
.card__side {
      height: 23rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__picture {
    background-size: cover;
    height: 100%;
    border-radius: 5px; 
    transition: all 0.3s ease;}

    .card__picture:hover{
        transform: scale(1.03) translateY(0.2px) ;
        cursor: pointer;
    }

.card__heading {
      font-size: 16px;
      font-weight: 500;
      color: #f5f5f5;
      position: absolute;
      top: 6rem;
      left: 0;
      width: 100%;
}

.row-prg{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.btn:link,
.btn:visited{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    margin-top: 35px;
    border: none;
    text-decoration: none;
    background-color:#0071c2;
    color: #fff;
    padding: 10px 12px;
    border-radius:4px ;
    
}
.span-p{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 32px;
}

.shadow-p {
    background: linear-gradient(180deg,rgba(0,27,65,0.50) 0,rgba(0,27,65,0));
    color: #fff;
    padding: 6px;
    text-align: start;
    position:absolute;
    text-shadow: 1px 1px 1px #000;
    top: -60px;
    left: 0;        
    width: 100%;
    z-index:1;
    border-radius: 6px;
}
.info-row{
    display: block;
    font-size: 2.4rem;
    font-weight:700;
    line-height: 3.2rem;
    margin-bottom: 0.5rem;
}

.info-row-1{
    display: block;
    font-size: 1.6rem;
    font-weight:400;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
}

.blue-span{
    display: inline-flex;
    background-color:#003b95;
    color: #fff;
    height: 2.4rem;
    width: 2.4rem;
    min-width: 24px;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius:4px ;
    border-top-right-radius:4px ;
    border-top-left-radius:4px;
    margin-right:5px;
}

.section-footer-heading{
    width: 100%;
    position: relative;
    left: 15.5%;
}

.section-footer-p{
    font-size:2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    font-family: sans-serif;
}


.list-item-1 {
    margin-top: 2rem;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0s ease;
    /* background-color: #006ce40f; */
    transition: border 2s ease;
}

.list{
    margin:0 -9rem ;
}

.list-item-1-click{
    margin-top: 2rem;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0s ease;
    color: #0071c2; 
    border: 1.5px solid #006ce4;
    background-color: #006ce40f;
    transition: all 2s ease;
}


.list-item-1:hover{
    background-color: #006ce40f; 
}
.list-item-1:checked{
    background-color: #003580   ;
}
.list-item-1 .click::before{
    color:#006ce4;
}
.info-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
  
.info-link:link,
.info-link:visited {
    font-size: 1.8rem;
    display: block;
    line-height: 3rem;
    font-weight: 500 !important;
    text-decoration: none;
    color: #1a1a1a;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.4s ease;
}
  
.info-link:hover,
.info-link:active {
    text-decoration: underline;
}
  
.info-link-small{
    display: block;
    color: #474747;
    font-size: 13px;
    line-height: 16px;
}

.input-information{
    display: block;
    background-color: #00224f;
    margin-top: 50px;
    min-height:250px;
    min-width: 1100px;
}

.top-info{
    padding: 2rem 0rem 3rem;
    display: block;
    width: 100%;
}
.emk_footer_subbanner_block {
    font-size: 16px;
    line-height: 24px;
    color: #bdbdbd;
    margin-left: 0;
    text-align: center;
    display: block;
    float: none;
}

.emk_footer_banner_block {
    font-size: 24px;
    line-height: 32px;
    float: none;
    display: block;
    color: #fff;
    text-align: center;
}
.emk_footer_form_layout {
    max-width: 100%;
    margin: 10px 43%;
}

.input_newsletter{
    font-size: 20px;
    line-height: 28px;
    color: #6b6b6b;
    border: 0;
    border-radius: 3px;
    font-weight: 100;
    padding: 10px ;
    width: 100%;
}

.newletter{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.newletter input[type="email"] {
    padding: 0 20px;
    height: 5rem;
    width: 35rem;
    display: inline-flex;   
}

.button_1 {
    border-radius: 5px;
    border: 0;
    display: inline-block;
    padding: 0 20px;
    font-size: 2rem;
    font-weight: 300;
    height: 5rem; 
    color: #FFF;
    background-color: #006ce4;
    margin:  5px; 
}

.button_1 a {
    color:#fff;
    text-decoration: none;
}

.down-section-btn{
    background-color: #003b95;
    display: block;
    text-align: center;
    padding: 20px 17px;
    border-bottom: 2px solid #fff;
}

.footer{
    display: block;
    width: 100%;
}

.footer-btn{
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    padding: 0 15px;
    text-decoration: none;
    line-height: 2;
    font-size: 14px;
}


.footer-btn:hover{
    background: #fff3;
    color: #fff;
}

.footer-list-section{
    background: #003b95;
    display: block;
    height: 50px;
    width: 100%;
}

.ul-nav{
    display: flex;
    justify-content:center;
}

.li{
    float: left;
    text-align: center;
    list-style: none;
    padding-top: 20px;
}

.footer-link{
    color: #fff;
    padding: 0px 10px;
    font-size: 1.3rem;
}

.info-nav-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.footer-information{
    text-decoration: none;
    font-weight: 400;
    color: #006ce4;
    font-size: 1.3rem;
    display: block;
    padding-bottom: .7rem;
}

.login-footer{
    display: flex;
    justify-content: center;
}

.href-footer{
    display: inline-block;
    font-size: 1.7rem;
    margin: 0 10px;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    color:#1a1a1a;
    transition: all 0.3s ease;
}

.href-footer:hover{
    color: #bc5b01;
}
.footerconstraint-inner {
    max-width: 1094px;
    min-width: 620px;
    margin: 0 auto;
    padding: 0 8px;
}
.footer__priceline {
    width: 100%;
    min-height: 90px;
    color: #6b6b6b;
    text-align: center;
    font-size: 12px;
    padding-top: 0;
}

.footer__priceline__list {
    margin-left: 20rem;
    padding: 30px 0;
}
.footer__priceline li{
    list-style: none;
    float:left;
    padding: 5px 10px;
}